Skip to content
This repository
Search
Pull requests
Issues
Gist
 @dE1l
 Sign out
 Watch 38
  Star 233
  Fork 71 python273/vk_api
 Code  Issues 1  Pull requests 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathvk_api/examples/simple_example.py
e2cffd8  27 days ago
@python273 python273 authorization -> auth; AuthorizationError -> AuthError
1 contributor
RawBlameHistory     
31 lines (22 sloc)  960 Bytes
# -*- coding: utf-8 -*-
import vk_api


def main():
    """ Пример получения последнего сообщения со стены """

    login, password = 'python@vk.com', 'mypassword'
    vk_session = vk_api.VkApi(login, password)

    try:
        vk_session.auth()
    except vk_api.AuthError as error_msg:
        print(error_msg)
        return

    vk = vk_session.get_api()

    """ VkApi.method позволяет выполнять запросы к API. В этом примере
        используется метод wall.get (https://vk.com/dev/wall.get) с параметром
        count = 1, т.е. мы получаем один последний пост со стены текущего
        пользователя.
    """
    response = vk.wall.get(count=1)  # Используем метод wall.get

    if response['items']:
        print(response['items'][0])

if __name__ == '__main__':
    main()
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help